[core]
	excludesfile = ~/.gitignore_global
	attributesFile = ~/.gitattributes
	editor = nvim
	commentChar = ";"
[user]
	name = Daniel Duan
	email = daniel@duan.ca
	signingkey = A3ABD10F3513DB51
[push]
	default = simple
[rebase]
	autosquash = true
[diff "swift"]
	xfuncname = "^ *((\\w+ +)*(((class|struct|enum|protocol|extension|func|(de)?init)\\b.*)|((var|let)\\b.*\\{)))$"
[remote "origin"]
	prune = true
[alias]
	checkotu = checkout
	psuh = push
